
.coloredList {
  list-style: none;
  counter-reset: li;
}

.coloredList li::before {
  content: "."counter(li);
  color: #b0b0b0;
  display: inline-block;
  width: 1em;
  margin-left: -2rem;
  margin-right: 1rem;
  text-align: right;
  font-weight: bold;
  direction: rtl
}

.coloredList li {
  counter-increment: li;
  margin-bottom: 0.25rem;
}

.coloredList li:last-of-type {
  margin-bottom: 0;
}