$theme-colors: (
  primary: #8c0a1e,
  black: #000,
  dark-grey: #333,
);

@import "../../commonBefore.scss";

@import "~bootstrap/scss/bootstrap";

@import "../../commonAfter.scss";

#logo {
  height: 20px;
  max-height: none;
}

